
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*my code*/

body {
	background-color: #92a8d1;
}

header {
	width: 100%;
	font-family: TimeBurner, Robotic, Verdana;
    background-color: none;
    text-decoration: none;
    font-size: 18px;
    color: white;
    position: absolute;
    z-index: 100;
}

#menu{
	padding-bottom: 2%;
	padding-top: 2%;
	display: inline-block;
}

.nav {
	width: 5%;
	text-align: center;
}

.nav-link {
	font-size: 24px;
}

#h2{
	padding-top: 170px;
}

#bg {
	width: 100%;
	margin-bottom: 20px;
}

main {
	font-family: TimeBurner, Robotic, Verdana;
	position: relative;
	font-size: 18px;
}

footer {
	font-family: TimeBurner, Robotic, Verdana;
	background-color: #232426;
	padding-bottom: 20px;
	color: white;
	font-size: 18px;
}


#kontakt {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

#onama {
	margin-top: 20px;
	margin-bottom: 20px;
}

#post {
	color: white;
	background-color: #232426;
	width: 100%;
	height:100px;
}

#projekti {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

#partneri{
	width: 100%;
	color: white;
	background-color: #232426;
	margin-top: 20px;
	padding-bottom: 20px;
}

.naslov {
	text-transform: bold;
	text-align: center;
	padding-top: 2%;
}

.projekti{
	padding-bottom: 2%;
	padding-top: 2%;
	padding-left: 4%;
	padding-right: 4%;
	width: 33%;
	display: inline-block;
}

.col {
	padding-bottom: 2%;
	padding-top: 2%;
	padding-left: 4%;
	padding-right: 4%;
}

.col4{
	padding-bottom: 2%;
	padding-top: 2%;
	padding-left: 5%;
	padding-right: 5%;
	width: 24%;
	display: inline-block;
	text-align: center;
}

.col3 {
	padding-bottom: 2%;
	padding-top: 2%;
	padding-left: 4%;
	padding-right: 4%;
	width: 33%;
	display: inline-block;
	text-align: center;
}

#map {
    height: 350px;  
    width: 100%; 
    margin-bottom: 20px; 
}

#image {
	width: 100%;
    height: auto;
}

link {
	color:white;
}

#post {
	padding: 50px;
	height: 500px;
}

.img-post {
	width: 40%;
}

.drustvene a {
    color: #fff;
    transition: 0.5s;
}

.drustvene a:hover {
    text-decoration: none;
    color: #0575E6;
}

.fa {
    padding: 0;
    font-size: 40px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;.
    background: #3B5998;
    color: white;
}









